.notification-nav{
    background-color: #cb202d;
    padding: 10px 0;
    
    /* border: 1px solid black; */
}
.nav-notification{

    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 4rem;
    
}
.inputWrapper-nav{
    
        width: 20%;
        display: flex;
        box-sizing: border-box;
        padding: 1%;
        align-items: center;
        position: relative;
        height: 2.5rem;
        background: rgb(255, 255, 255);
        border-radius: 0.2rem;
        box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
        border: 1px solid rgb(232, 232, 232);
    
}
.inputWrapper-nav-right{
    width: 30%;
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    align-items: center;
    position: relative;
    height: 2.5rem;
    background: rgb(255, 255, 255);
    border-radius: 0.2rem;
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
}
.inputBox-nav{
    border:none;
    outline: none;
    font-size: .9rem;
    padding-left: 8px;
    color: black;
    font-weight:900;
}
.header-navigation{
 
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 4px 6px 0 rgba(12, 12, 12, 0.1);
    font-size: 15px;
    height: 2.3rem;
    padding:0 2.5rem;
}
.header-inner-nav{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
    height: 38px;
    display: flex;
}
.headerContent-navigation{    
    width: 20%;
    /* float: left;     */
    align-items: center;
    height: 100%;
    display: flex;
}
.navigation-img{
    height: 1.8rem;
}
.nav-app{
    font-weight: 600;
    padding-left:.2rem;
}
.header-right-nav{
    justify-content: end;
    display: flex;
    width: 60%;
    margin-left: 12rem;
}
.navigation-body{
    /* background-color: #e8e9eb; */
    height: 20rem;
}