.buttons{
    display: flex;
    gap: 1.8rem;
}

.button-div{
    cursor: pointer;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.foot-btn-image{
    height: 1.2rem;
    width: 1.8rem;
    border-radius:0;
}
.foot-content-btn{
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: .5rem;
}
.foot-logo-btn{
    height: .9rem;
    width: 1.3rem;
    border-radius: 0;
}
.foot-btn-text{
    font-size: 1rem;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(28, 28, 28);
    font-weight: 400;
}