
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.7rem;
    max-width: 72rem;
    margin: 0 auto;
    width: 100%;
}
.logo{
    max-width: 10rem;
    height: 1.7rem;
    cursor: pointer;
}

.drop-down{
    cursor: pointer;
}
.line{
    border-left: 1.5px solid rgb(117, 117, 117);
    height: 13px;
    padding-left: 2%;
    margin-left: 1%;
}

.inputBox{
    border:none;
    outline: none;
    font-size: .9rem;
    padding-left: 8px;
}
.inputBox-right{
    border:none;
    outline: none;
    font-size: .9rem;
    padding-left: 8px;
    width:20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.account{
    display: flex;
    font-size: 1.1rem;
    color: rgb(117, 117, 117);
    cursor: pointer;
    letter-spacing: .6px;
    padding: 0.8rem !important;
    gap: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.login{
    /* z-index: 1111; */
    
}
.signup{
    /* z-index: 1111; */
}