.body-content{
    position: relative;
    max-width: 110rem;
    max-height: initial;
    margin: 3rem 5rem;
}
.explores-div{
    background: rgb(252, 252, 252);
    width: 100%;
    height: 30rem;
}