.foot{  
    width: 100%;
    background: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
}
.content-footer{
    max-width: 110rem;
    width: 90%;
    padding: 3rem 0px 2.2rem;
    position: relative;
}

.foot-head{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}