*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
    font-family: sans-serif;
    /* font-family: "okara";
    font-weight: "normal";
    display: swap;
    font-stretch: normal;
    unicode-range: "U+0-10FFFF";
    font-size: 3-px;
    font-variant: normal; */
}

@font-face {
    font-family: "Okara";
    src: url('./assets/DTCOkraSans1.otf') format('opentype');
}

